SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=kukkula606@gmail.com
SMTP_PASS=uumqbopklmhpxpkw
SMTP_FROM=kukkula.lainaaminen@gmail.com
SMTP_FROM_NAME=Lainaaminen

APP_URL=https://localhost/laina

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=lainaaminen
DB_USER=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
AUTH_SECRET=supersecretjwtkey